apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: vaultwarden

resources:
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - migrate-vaultwarden-data.yaml

commonLabels:
  app.kubernetes.io/name: vaultwarden
  app.kubernetes.io/managed-by: argocd
