apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: uptime-kuma

resources:
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - migrate-uptime-kuma-data.yaml

commonLabels:
  app.kubernetes.io/name: uptime-kuma
  app.kubernetes.io/managed-by: argocd
