apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: headscale

resources:
  - postgres-pvc.yaml
  - postgres-service.yaml
  - postgres-statefulset.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - pvc.yaml
