apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - migrate-jellyfin-config.yaml

commonLabels:
  app.kubernetes.io/name: jellyfin
  app.kubernetes.io/managed-by: argocd
